* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #aee1f9;
    background-image: linear-gradient(315deg, #aee1f9 0%, #f6ebe6 74%);
    display: flex;
    justify-content: center;
}

#contenedorGeneral {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw;
    min-height: 85vh;
    background: rgba(138, 138, 138, .4);
    border-radius: 10%;
    margin: 1rem;
    padding: 2rem;
}

h1 {
    font-family: 'Titan One', cursive;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

h3 {
    margin: 1rem 0 1rem 0;
}

p {
    padding: .4rem;
}

textarea {
    font-family: 'Josefin Sans', sans-serif;
    padding: .4rem;
    height: min-content;
    width: 95%;
}

button {
    color: black;
    background-color: rgb(192, 231, 238);
    border-color: black;
    padding: .4rem;
    border-radius: 10%;
}

#contenedorUsuario {
    display: block;
    margin-bottom: 1rem;
}

#contenedorTareas {
    display: block;
}

/* Todo lo siguiente es para estilizar la sección de buscar */

#textBuscar {
    border: black solid 2px;
    border-radius: 2%;
    padding: .5rem .5rem 0 .5rem; 
    margin-bottom: .5rem;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    gap: .5rem;
    grid-template-areas: "buscar botonB"
}
#aBuscar {
    grid-area: buscar;
}
#botonBuscar {
    grid-area: botonB;
    height: fit-content;
    justify-self: center;
    align-self: center;
    width: 100%;
}

#textBuscar li {
    margin: .5rem 1rem 1rem 1rem;
}

/* Fin de estilos para la sección de buscar, todo lo siguiente es para estilizar la sección de nueva tarea */

#textNuevo {
    border: black solid 2px;
    border-radius: 2%;
    padding: .5rem;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .5rem;
    grid-template-areas: 
    "titulo botonT"
    "tarea botonT";
}
#inputTitulo {
    grid-area: titulo;
}
#inputTarea {
    grid-area: tarea;
}
#botonAnadir {
    grid-area: botonT;
    justify-self: center;
    align-self: center;
    width: 100%;
}
/* Fin de estilos para la parte de nueva tarea */

